/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 , h3  {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;

}

h1{
    font-size: 40px;
    
    
}
h3{
    font-size: 30px;
}
p{
    font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding-bottom: 12px;
}

body{
    background-color: #f6f8f9;

}
/* /General */

/* Utility */

.bg-white{
    background-color: #ffffff;
}

.bg-lightblue{
    background-color: #45abea;
}

.bg-purple{
    background-color: #9c72e4;
}

.bg-green{
    background-color: #64c0a9;
}

.bg-orange{
    background-color: #f29e33;
}

.bg-pink{
    background-color: #d863a1;
}

.bg-lightgreen{
    background-color: #b0c926;
}

.bg-grey{
    background-color: #f6f8f9;
}

/* /Utility */

/* nav-bar */

.nav-bar{
    border-bottom: 1px solid #f5f6f7;
}


.nav-bar img {
    vertical-align:middle;
    width: 60px;
    margin: 15px 0px 15px 50px;
}

/* /nav-bar */

/* main */

.container{
    margin: 25px auto;
    width: 50%;
}

.box-button{
    border-bottom: 1px solid #cfd4d8;
    padding: 8px 0 8px 25px;

}

.btn-size{
    border-radius: 3px;
    font-size: 15px;
    padding:  4px 8px 4px 8px;    
    
}

.btn-lightblue , .btn-grey{
    font-family: 'Roboto', sans-serif;

}

.btn-lightblue{
    color: #ffffff;
    background-color: #45abea;
    border: 1px solid #45abea;
}

.btn-grey{
    color: #cfd4d8;
    background-color: white;
    border: 1px solid #cfd4d8;
}

.list{
    display: none;
}

.icon-triangle, .icon-check-x{
    font-size: 25px;
    padding-right: 4px;
}

.icon-green{
    color: green;
}

.icon-red{
    color: red;
}

/* /main */

